<div class="jumbotron">
    <h1 class="display-4">Journal App</h1>
    <p class="lead">This is the landing page for my Journal Application.</p>
    <hr class="my-4">
    <p>Please sign up, or sign in if you already have an account.</p>
    <a class="btn btn-primary btn-lg" href="/users/login" role="button">Log In</a>
    <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Sign Up</a>
</div>