<!-- NAV BAR -->
<div class="index-background">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Log In <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/signup">Sign Up</a>
            </li>
            </ul>
        </div>
    </nav> -->

    <!-- Banner -->
    <div class="row">
        <div class="col-lg-2"></div>
        <div id="home" class="col-lg-7">
            <section style="margin-top: 100px" class="text-background">
                <h1 style="margin: 30px 0px">WELCOME TO MY JOURNAL APP</h1>
                <h4 style="margin: 30px 0px">There are many documented benefits to journaling.</h2>
                <ul class="list-inline mx-auto justify-content-center">
                    <li>Stretch your IQ</li>
                    <li>Evoking Mindfulness</li>
                    <li>Acheiving Goals</li>
                    <li>Emotional Intelligence</li>
                    <li>Boosting Memory and Comprehension</li>
                    <li>Self Discipline</li>
                    <li>Improve Communication Skills</li>
                    <li>Sparking Creativity</li>
                    <li>Self Confidence</li>   
                </ul>
                <p style="margin: 30px 0px">To read more on the benefits of journaling, click <a href="https://www.huffpost.com/entry/benefits-of-journaling_b_6648884">HERE</a></p>
            </section>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-2">
                    <a class="btn btn-primary home-link nav-link" href="/users/login">Log In <span class="sr-only">(current)</span></a>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary home-link nav-link" href="/users/signup">Sign Up</a>
                </div>
                <div class="col-5"></div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>